.clock {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 5%;
    font-size: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 450px;
    height: 380px;
}

p1 {
    filter: blur(0px);
}

body {
    background: linear-gradient(90deg, #f12711, #0077ff);
}

button {
    color: white;
    border: 2px solid black;
    padding: 10px 24px;
    cursor: pointer;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blue;
}
